<div class="container pt-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-5">
            
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    
                    <!-- Encabezado -->
                    <div class="text-center mb-4">
                        <span class="material-symbols-rounded filled text-primary" style="font-size: 4rem;">account_circle</span>
                        <h4 class="mt-2 mb-0">Recuperar contraseña</h4>
                    </div>

                    <!-- Formulario -->
                    <form [formGroup]="recoverForm" (ngSubmit)="recover()" novalidate="">
                        
                        <!-- Email -->
                        <div class="mb-3">
                            <label class="form-label">Correo electrónico</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <span class="material-symbols-rounded">mail</span>
                                </span>
                                <input type="email" 
                                       class="form-control" 
                                       formControlName="email" 
                                       placeholder="correo@ejemplo.com" />
                            </div>
                            @if (recoverForm.get('email')?.invalid && recoverForm.get('email')?.touched) {
                                <small class="text-danger">
                                    @if (recoverForm.get('email')?.errors?.['required']) {
                                        El correo es obligatorio
                                    }
                                    @if (recoverForm.get('email')?.errors?.['email']) {
                                        Ingresa un correo válido
                                    }
                                </small>
                            }
                        </div>

                        <!-- Botón -->
                        <div class="d-grid mb-3">
                            <button class="btn btn-primary btn-lg d-flex align-items-center justify-content-center gap-2" 
                                    type="submit" 
                                    [disabled]="recoverForm.invalid">
                                Enviar Codigo
                            </button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
