<div class="container pt-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-5">
            
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    
                    <!-- Encabezado -->
                    <div class="text-center mb-4">
                        <span class="material-symbols-rounded filled text-primary" style="font-size: 4rem;">account_circle</span>
                        <h4 class="mt-2 mb-0">Reiniciar contraseña</h4>
                    </div>

                    <!-- Formulario -->
                    <form [formGroup]="resetForm" (ngSubmit)="reset()" novalidate="">
                        
                        <!-- Codigo -->
                        <div class="mb-3">
                            <label class="form-label">Codigo</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                </span>
                                <input type="text" 
                                       class="form-control" 
                                       formControlName="code" 
                                       placeholder="codigo" />
                            </div>
                            @if (resetForm.get('code')?.invalid && resetForm.get('code')?.touched) {
                                <small class="text-danger">
                                    @if (resetForm.get('code')?.errors?.['required']) {
                                        El correo es obligatorio
                                    }
                                    @if (resetForm.get('code')?.errors?.['code']) {
                                        Codigo NO valido
                                    }
                                </small>
                            }
                        </div>

                        <!-- Contraseña -->
                            <div class="col-12 col-md-6">
                                <label class="form-label">Contraseña</label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <span class="material-symbols-rounded">lock</span>
                                    </span>
                                    <input type="password" 
                                           class="form-control" 
                                           formControlName="password" 
                                           placeholder="••••••••" />
                                </div>
                                @if (resetForm.get('password')?.invalid && resetForm.get('password')?.touched) {
                                    <small class="text-danger">
                                        @if (resetForm.get('password')?.errors?.['required']) {
                                            La contraseña es obligatoria
                                        }
                                        @if (resetForm.get('password')?.errors?.['minlength']) {
                                            Mínimo 8 caracteres
                                        }
                                    </small>
                                }
                            </div>

                            <!-- Repetir contraseña -->
                            <div class="col-12 col-md-6">
                                <label class="form-label">Repetir contraseña</label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <span class="material-symbols-rounded">lock</span>
                                    </span>
                                    <input type="password" 
                                           class="form-control" 
                                           formControlName="repeatPassword" 
                                           placeholder="••••••••" />
                                </div>
                                @if (resetForm.get('repeatPassword')?.invalid && resetForm.get('repeatPassword')?.touched) {
                                    <small class="text-danger">Repite la contraseña</small>
                                }
                            </div>

                            <!-- Error de contraseñas no coinciden -->
                            @if (resetForm.hasError('passwordsMismatch') && resetForm.get('repeatPassword')?.touched) {
                                <div class="col-12">
                                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                                        <span class="material-symbols-rounded me-2">error</span>
                                        Las contraseñas no coinciden
                                    </div>
                                </div>
                            }

                        <!-- Botón de inicio de sesión -->
                        <div class="d-grid mb-3">
                            <button class="btn btn-primary btn-lg d-flex align-items-center justify-content-center gap-2" 
                                    type="submit" 
                                    [disabled]="resetForm.invalid">
                                Cambiar contraseña
                            </button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

